<section id="find-us" class="py-16 bg-gray-900">
    <div class="container mx-auto">
        <h2 class="text-3xl font-bold text-center mb-10 text-bar-gold">Find Us</h2>
        <div class="flex flex-col md:flex-row items-center justify-center">
            <div class="w-full md:w-1/2 mb-8 md:mb-0">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7348.4105114574895!2d-119.79871599999998!3d39.53261!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80994752f229ebff%3A0xcd42006c2e11f69f!2s1114%20E%204th%20St%2C%20Reno%2C%20NV%2089512!5e1!3m2!1sen!2sus!4v1729477794944!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="w-full md:w-1/2 md:pl-8">
                <p class="font-bold mb-4">📍 1114 E. 4th Street, Reno, NV 89512</p>
                <p class="mb-4">Located in the heart of Reno, 4th Street Bar is your friendly neighborhood spot for great drinks, delicious food, and unforgettable memories. Join us for our daily happy hour and weekly events!</p>
                <p class="font-bold mb-2">Hours:</p>
                <p>Monday - Thursday: 4 PM - 12 AM<br>
                Friday - Saturday: 2 PM - 2 AM<br>
                Sunday: 12 PM - 10 PM</p>
            </div>
        </div>
    </div>
</section>